@model IEnumerable<RotasParaOFuturo.Models.Parceiro>

<h2>Parceiros</h2>

<!-- Mensagem Informando que os Dados Foram Gerados -->
<div class="alert alert-success" role="alert">
    Os dados foram gerados com sucesso!
</div>

<!-- Botão para Voltar para a Página Principal -->
<div class="mb-3">
    <a class="btn btn-primary" href="@Url.Action("Index", "Parceiros")">Voltar para a Página de Parceiros</a>
</div>


<!-- A tabela de Parceiros não será exibida -->
<!-- <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data de Cadastro</th>
        </tr>
    </thead>
    <tbody>
@foreach (var parceiro in Model)
{
                <tr>
                    <td>@parceiro.Id</td>
                    <td>@parceiro.Nome</td>
                    <td>@parceiro.Descricao</td>
                    <td>@parceiro.DataMatricula.ToString("dd/MM/yyyy")</td>
                </tr>
}
    </tbody>
</table> -->
